.voterInfoButton {
  background: none;
  border: none;
  color: #0070f3;
  font-size: 0.9rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.voterInfo {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 5px;
  color: #0070f3;
}